body {
  background-color: rgb(87, 153, 233);
  height: 100vh;
  display: grid;
  place-items: center;
}

.card {
  position: relative;
  height: 70%;
  width: 70%;
}

.card__left {
  position: absolute;
  top: 10%;
  left: -10%;
  filter: blur(1px);
  filter: brightness(75%);
}

.card__leftImage {
  position: relative;
}

.card__left__arrow {
  position: absolute;
  bottom: 50%;
  left: 25%;
  font-size: xx-large;
}

.card__right {
  position: absolute;
  top: 10%;
  left: 96%;
  filter: blur(1px);
  filter: brightness(75%);
}

.card__img {
  filter: brightness(75%);
  position: absolute;
  width: 100%;
  height: 100%;
}

.card__right__arrow {
  position: absolute;
  bottom: 50%;
  left: 50%;
  font-size: xx-large;
}

.card__header {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card__header--style {
  text-transform: uppercase;
  color: white;
  font-size: 4em;
  border: solid white 0.25em;
  padding: 0.5em;
  backdrop-filter: blur(10px);
}

.card__innerCard {
  position: absolute;
  width: 95%;
  height: 20%;
  bottom: -10%;
  left: 2.5%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.card__innerCard--style {
  border: solid white 1px;
  background-color: white;
  border-radius: 5px;
  box-shadow: 10px 10px 10px #353535;
}

.card__column {
  width: 0.25em;
  height: 2em;
  background: rgb(172, 155, 155);
  border-radius: 20px;
}
.card__details {
  display: flex;
  flex-direction: column;
  list-style: none;
  row-gap: 1em;
}

.card__titles {
  font-size: large;
  color: gray;
  text-transform: uppercase;
}

.card__subtitles {
  font-size: larger;
  font-weight: bold;
}

.card__button {
  position: absolute;
  top: 110%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.card__button--style {
  color: white;
  padding: 1em 4em;
  border-radius: 40px;
  background-color: rgb(74, 150, 244);
  box-shadow: 10px 10px 10px #353535;
  font-size: 1.2em;
  text-transform: uppercase;
  display: flex;
  column-gap: 1.3em;
}

.card__icon {
  margin: auto 1em;
  font-size: 2em;
}
