body,
html {
  background-color: rgb(87, 153, 233);
  height: 100%;
}

.card {
  position: relative;
  display: flex;
  justify-content: center;
  height: 100%;
  align-items: center;
}

.card__img {
  width: 50%;
  filter: brightness(75%);
}
/* tewst */

.card__header {
  position: absolute;
  top: 30%;
}

.card__header--style {
  text-transform: uppercase;
  color: white;
  font-size: 4em;
  border: solid white 0.25em;
  padding: 0.5em;
}
